<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button    (click)="snav.toggle();changeValue2(toggle)" >
        <mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Oredo Dashbord</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav style="width:20%" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" mode="side">
        <mat-nav-list>
         
           
            <mat-checkbox [(ngModel)] = "checked3"  (click)="changeValue(checked3)" >Total Profits </mat-checkbox>
            <br>
          <mat-checkbox [(ngModel)] = "checked1"  (click)="changeValue(checked1)" >Net Profits graph</mat-checkbox>
    
        <br>

        <mat-checkbox [(ngModel)] = "checked2"  (click)="changeValue(checked2)" >Customer count graph</mat-checkbox>
      <br>
      <mat-checkbox [(ngModel)] = "checked4"  (click)="changeValue(checked4)" >Refunds Graph</mat-checkbox>


        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>

  <div>

      <div *ngIf="checked3" [ngClass]="{'toggle-on': toggle==true, 'toggle-off': toggle==false}">
          <app-total-profits-component></app-total-profits-component>
         </div>

         <br>

       <div *ngIf="checked1" [ngClass]="{'toggle-on': toggle==true, 'toggle-off': toggle==false}">
        <app-net-profit-component ></app-net-profit-component>
       </div>
  
       <br>

       <div *ngIf="checked2" [ngClass]="{'toggle-on': toggle==true, 'toggle-off': toggle==false}">
        <app-customer-count></app-customer-count>
       </div>

<br>

       <div *ngIf="checked4" [ngClass]="{'toggle-on': toggle==true, 'toggle-off': toggle==false}">
        <app-refund-component></app-refund-component>
        </div>
<br>
 
</div>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  